# eclipse
*.launch
.settings
.metadata
.classpath
.project
*.class
*.info

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
!run/
run/*
!run/saves/
run/saves/*
!run/saves/BUILDING_WORLD/

!TestMaelstromMod/
TestMaelstromMod/*
!TestMaelstromMod/.settings/
TestMaelstromMod/.settings/*
!TestMaelstromMod/.settings/org.eclipse.jdt.core.prefs
!TestMaelstromMod/src/
!TestMaelstromMod/.classpath
!TestMaelstromMod/.project

